@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

.App {
  font-family: 'Oxygen', sans-serif;
}

#Animation0{
  animation-delay: 0s;
  transition-delay: 0.25s;
}
#Animation1{
  animation-delay: 0.5s;
  transition-delay: 0.75s;
}
#Animation2{
  animation-delay: 1s;
  transition-delay: 1.25s;
}
#Animation3{
  animation-delay: 1.5s;
  transition-delay: 1.75s;
}
#Animation4{
  animation-delay: 2s;
  transition-delay: 2.25s;
}
#Animation5{
  animation-delay: 2.5s;
  transition-delay: 2.75s;
}
#Animation6{
  animation-delay: 3s;
  transition-delay: 3.25s;
}
#Animation7{
  animation-delay: 3.5s;
  transition-delay: 3.75s;
}